body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.2;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: logo_ani 2s ease-in-out 1 forwards;
}
@keyframes logo_ani {
    0% {
        stroke-dashoffset: 50;
    }
    50% {
        fill: transparent;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(Banner.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    mask-image: linear-gradient(black, transparent);
    mask-size: cover;
    mask-position: center;
}
